<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../templates/meta"); %>
		<title>Thermosoft Analytics - Home</title>
	</head>
	<body>
		<div class='jumbotron text-center'>
			<h1>Thermosoft Analytics</h1>
			<p>Automated Sustainability Analysis</p>
		</div>
		<div class='container-fluid' id="about">
			<div class="row">
				<div class="col-sm-9">
					<h2>About Thermosoft Analytics</h2>
					<p>Thermosoft Analytics is a startup company created by a team of mechanical and software engineers that aims to optimize power usage by HVAC storage companies.</p>
				</div>
				<div class="col-sm-3 text-center">
					<img src="/assets/logo.png" alt='Thermosoft Analytics' width="50%" height="auto">
				</div>
			</div>
		</div>
		<div class='container-fluid alt-bg' id='team'>
			<div class="row">
				<div class='col-sm-12 text-center'>
					<h2>Our Team</h2>
				</div>
			</div>
			<div class='row'>
				<div class="col-sm-4 text-center">
					<div class='img-thumbnail center-block'>
						<img src='/assets/grant.JPG' alt='Grant Walters' width='100%'>
						<h4>Grant Walters</h4>
					</div>
				</div>
				<div class="col-sm-4 text-center">
					<div class='img-thumbnail center-block'>
						<img src='/assets/grant.JPG' alt='Christopher Guzman' width='100%'>
						<h4>Christopher Guzman</h4>
					</div>
				</div>
				<div class="col-sm-4 text-center">
					<div class='img-thumbnail center-block'>
						<img src='/assets/grant.JPG' alt='Grant Walters' width='100%'>
						<h4>Matthew Bartos</h4>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>